.pokemon-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-align: center;
    .pokemon{
        margin: .3rem;
        
        .card{
            height: 100%;
        }

    }

}