<div *ngIf="pokemons.length > 0">
    <div class="pokemon-cards">
        <div class="pokemon" *ngFor="let pokemon of pokemons">
            <div class="card" style="width: 18rem;" [ngStyle]="{
                'background-color': 
                pokemon.types[0].type.name === 'fire' ? '#EE8130' : 
                (pokemon.types[0].type.name === 'water' ? '#6390F0' : 
                (pokemon.types[0].type.name === 'grass' ? '#7AC74C' :
                (pokemon.types[0].type.name === 'normal' ? '#A8A77A' :
                (pokemon.types[0].type.name === 'electric' ? '#F7D02C' : 
                (pokemon.types[0].type.name === 'ice' ? '#96D9D6' :
                (pokemon.types[0].type.name === 'fighting' ? '#C22E28' :
                (pokemon.types[0].type.name === 'poison' ? '#A33EA1' :
                (pokemon.types[0].type.name === 'ground' ? '#E2BF65' :
                (pokemon.types[0].type.name === 'flying' ? '#A98FF3' :
                (pokemon.types[0].type.name === 'psychic' ? '#F95587' :
                (pokemon.types[0].type.name === 'bug' ? '#A6B91A' :
                (pokemon.types[0].type.name === 'rock' ? '#B6A136' :
                (pokemon.types[0].type.name === 'ghost' ? '#735797' :
                (pokemon.types[0].type.name === 'dark' ? '#6F35FC' :
                (pokemon.types[0].type.name === 'dragon' ? '#705746': 
                (pokemon.types[0].type.name === 'steel' ? '#B7B7CE' :
                (pokemon.types[0].type.name === 'fairy' ? '#D685AD' : 'initial')))))))))))))))))}">

                <img id="{{ pokemon.id }}" (click)="shiny(pokemon.id)" src="{{ pokemon.sprites.front_default }}"
                    *ngIf="selectedId.includes(pokemon.id) === false" alt="{{ pokemon.name + pokemon.sprites.front_default }}">

                <img id="{{ pokemon.id }}" (click)="default(pokemon.id)" src="{{ pokemon.sprites.front_shiny }}"
                    *ngIf="selectedId.includes(pokemon.id)" alt="{{ pokemon.name + pokemon.sprites.front_shiny }}">

                <div class="card-body">
                    <h5 class="card-title">
                        <h2 class="fw-bold text-light text-capitalize">{{ pokemon.name }}</h2>
                    </h5>
                    <div class="card-bottom">
                        <p class="card-text border border-white text-light text-capitalize fs-5"
                            *ngFor="let type of pokemon.types; index as i" [ngStyle]="{
                        'background-color': 
                        pokemon.types[i].type.name === 'fire' ? '#EE8130' : 
                        (pokemon.types[i].type.name === 'water' ? '#6390F0' : 
                        (pokemon.types[i].type.name === 'grass' ? '#7AC74C' :
                        (pokemon.types[i].type.name === 'normal' ? '#A8A77A' :
                        (pokemon.types[i].type.name === 'electric' ? '#F7D02C' : 
                        (pokemon.types[i].type.name === 'ice' ? '#96D9D6' :
                        (pokemon.types[i].type.name === 'fighting' ? '#C22E28' :
                        (pokemon.types[i].type.name === 'poison' ? '#A33EA1' :
                        (pokemon.types[i].type.name === 'ground' ? '#E2BF65' :
                        (pokemon.types[i].type.name === 'flying' ? '#A98FF3' :
                        (pokemon.types[i].type.name === 'psychic' ? '#F95587' :
                        (pokemon.types[i].type.name === 'bug' ? '#A6B91A' :
                        (pokemon.types[i].type.name === 'rock' ? '#B6A136' :
                        (pokemon.types[i].type.name === 'ghost' ? '#735797' :
                        (pokemon.types[i].type.name === 'dark' ? '#6F35FC' :
                        (pokemon.types[i].type.name === 'dragon' ? '#7o5746': 
                        (pokemon.types[i].type.name === 'steel' ? '#B7B7CE' :
                        (pokemon.types[i].type.name === 'fairy' ? '#D685AD' : 'initial')))))))))))))))))}">
                            {{ pokemon.types[i].type.name }}
                        </p>
                        <a class="btn btn-primary" routerLink="/pokemon/{{ pokemon.name }}">Mais informações</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngFor="let page of maxPages" [ngClass]="active === page ? 'active' : ''" class="page-item"><a role="button" class="page-link" (click)="changePage(page)">{{ page + 1 }}</a></li>
        </ul>
    </nav>
</div>