<div *ngIf="pokemons.length > 0">
    <div class="pokemon-cards">
        <div class="pokemon" *ngFor="let pokemon of pokemons">
            <div class="card ${pokemon.types[0]}" style="width: 18rem;">
                <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name + pokemon.sprites.front_default }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <h4 class="text-secondary">nº{{ pokemon.id }}</h4>
                        <h2 class="fw-bold text-capitalize">{{ pokemon.name }}</h2>
                    </h5>
                    <p class="card-text text-capitalize fs-5" *ngFor="let type of pokemon.types; let i = index">
                        {{pokemon.types[i].type.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>