<nav class="navbar bg-light shadow-lg navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo.png" alt="logo angulardex" srcset="" width="200px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="itens-menu collapse navbar-collapse" id="navbarNavDropdown">
        <search (search)="onSearch($event)"></search>
    </div>
</nav>