app-poke-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
  gap: 5rem;
}


.pokemon-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;

  margin: 0 5rem;

  align-items: center;
}

.img-pokemon {
  img {
    width: 30vw;
  }
}

.pokemon-description {
  display: flex;
  flex-direction: column;
}

.pokemon-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin: 2rem 0;
  gap: 1vw;

  .pokemon-types-text {

    padding: .5rem 1rem;

  }
}

.atributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 30vw;
  height: 20vh;

  gap: 1rem;

  flex-wrap: wrap;

  .atributes-height {
    text-align: center;
  }

  .atributes-weight {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .pokemon-info {
    flex-direction: column;
  }

  .img-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30vw;
  }

  .atributes {
    width: 50vw;

  }

}