form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  width: 50vw;
}

input {
  padding: 0 1rem;
  color: #fff;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #fff;
  }
}
